<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 5.3//EN"  
        "http://www.hibernate.org/dtd/hibernate-configuration-5.3.dtd">  
<hibernate-configuration>  
	<session-factory>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/vendor_integration_app</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>    
 
        <mapping class="org.srh.vipapp.hbm.dto.UserType"/>
        <mapping class="org.srh.vipapp.hbm.dto.UserMaster"/>
        <mapping class="org.srh.vipapp.hbm.dto.CustomerMaster"/>
        <mapping class="org.srh.vipapp.hbm.dto.VendorMaster"/>
        <mapping class="org.srh.vipapp.hbm.dto.VendorBranch"/>
        <mapping class="org.srh.vipapp.hbm.dto.ApiStructureConstants"/>
        <mapping class="org.srh.vipapp.hbm.dto.ApiStructure"/>
        <mapping class="org.srh.vipapp.hbm.dto.ProductType"/>
        <mapping class="org.srh.vipapp.hbm.dto.ProductsMaster"/>
        <mapping class="org.srh.vipapp.hbm.dto.CustomerCart"/>
        <mapping class="org.srh.vipapp.hbm.dto.CartProduct"/>
        <mapping class="org.srh.vipapp.hbm.dto.CustomerFavouriteList"/>
        <mapping class="org.srh.vipapp.hbm.dto.FavouriteListProduct"/>
    </session-factory>  
</hibernate-configuration> 
